.navbar.navbar-default.navbar-fixed-top.navbar-static-top(role='navigation')
	.container
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='./')= pkg.title
			.navbar-collapse.collapse
				ul.nav.navbar-nav
					//li
						a(href='#') Intro
					- var obj = { 'Usage':'Usage', 'Advanced':'Advanced', 'Customize':'Customize', 'Events':'Events', 'Locale':'Locale', 'Install':'Install', 'Support':'Support','Credit':'Credit' }
						- each val, key in obj
								li
									a(href='##{key}',id='#btn-#{key}') #{val}
