extends layout

block content
	div.container
		div.jumbotron
			h1 jQuery MultiFile
			p The <strong>unopinionated</strong> way to implement file selection.

	div.container
		include docs.html
		include analytics.html
