doctype html
html
	head
		meta(http-equiv="content-type", content="text/html; charset=UTF-8")
		meta(charset='utf-8')
		title= pkg.title +' v'+ pkg.version
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.1.1-1/css/custom/bootstrap.min.css')
		link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css')
		link(rel='stylesheet', href='docs.css')

		script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js')

		link(rel='stylesheet', href='http://prismjs.com/themes/prism.css')
		script(src='http://prismjs.com/prism.js')

		//link(rel='stylesheet', href='http://highlightjs.org/static/styles/zenburn.css')
		//script(src='http://yandex.st/highlightjs/8.0/highlight.min.js')

		script(src='docs.js')

	body

		include inc/header

		block content

		include inc/footer

		script(type='text/javascript').
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-1942730-1']);
			_gaq.push(['_setDomainName', 'fyneworks.com']);
			_gaq.push(['_trackPageview']);
			(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
